@model List<test.Models.Brand>
@{
    ViewBag.Title = "Brands";
    
}

<h2>Brand</h2>
<table class="table">
    <tr>
        <th>Brand id</th>
        <th>Brand Name</th>
    </tr>
    @foreach(var item in Model)
    {   <tr>
            <td>@item.BrandID</td>
            <td>@item.BrandName</td>
        </tr>
    }
</table>

